USE [master]
GO
/****** Objeto: Database [bd_Camionera] Fecha de script: 15/08/2026 21:21:12 ******/
CREATE DATABASE [bd_Camionera]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_Camionera', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\bd_Camionera.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd_Camionera_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\bd_Camionera_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_Camionera].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_Camionera]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 15/08/2026 21:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[cli_Id] [int] IDENTITY(1,1) NOT NULL,
	[cli_Identificacion] [varchar](20) NOT NULL,
	[cli_Nombre] [varchar](100) NOT NULL,
	[cli_Direccion] [varchar](200) NULL,
	[cli_Correo] [varchar](100) NULL,
	[cli_Estado] [bit] NOT NULL,
	[cli_Tipo] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cli_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos] Fecha de script: 15/08/2026 21:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[pro_Codigo] [int] IDENTITY(1,1) NOT NULL,
	[pro_Nombre] [varchar](100) NOT NULL,
	[pro_PrecioBase] [decimal](18, 2) NULL,
	[pro_PesoPorSaco] [decimal](18, 2) NULL,
	[pro_Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pro_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Vehiculos] Fecha de script: 15/08/2026 21:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[veh_Placa] [varchar](15) NOT NULL,
	[veh_Marca] [varchar](50) NULL,
	[veh_CapacidadToneladas] [decimal](18, 2) NULL,
	[veh_Estado] [bit] NOT NULL,
	[veh_TaraKg] [decimal](18, 2) NULL,
	[veh_TaraFecha] [datetime] NULL,
	[veh_TaraVigenciaDias] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[veh_Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pesajes] Fecha de script: 15/08/2026 21:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pesajes](
	[pes_NumTran] [int] IDENTITY(1,1) NOT NULL,
	[pes_FechaHoraIn] [datetime] NOT NULL,
	[pes_FechaHoraOut] [datetime] NULL,
	[pes_DuracionMin] [int] NULL,
	[pes_PesoBruto] [decimal](18, 2) NOT NULL,
	[pes_PesoTara] [decimal](18, 2) NOT NULL,
	[pes_PesoNeto] [decimal](18, 2) NOT NULL,
	[pes_MermaPct] [decimal](5, 2) NULL,
	[pes_NumBins] [int] NULL,
	[pes_NumGavetas] [int] NULL,
	[pes_LoteTraza] [varchar](50) NULL,
	[pes_GuiaRemision] [varchar](50) NULL,
	[pes_Orden] [varchar](50) NULL,
	[pes_Observacion] [varchar](255) NULL,
	[pes_NombreChofer] [varchar](100) NULL,
	[pes_Estado] [bit] NOT NULL,
	[pes_VehPlaca] [varchar](15) NOT NULL,
	[pes_CliId] [int] NOT NULL,
	[pes_ProCodigo] [int] NOT NULL,
	[pes_BalId] [int] NOT NULL,
	[pes_UsuIngId] [int] NOT NULL,
	[pes_UsuSalId] [int] NULL,
	[pes_ProveedorId] [int] NULL,
	[pes_TransportistaId] [int] NULL,
	[pes_BalIdSalida] [int] NULL,
	[pes_TipoOperacion] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pes_NumTran] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_ResumenPesajesHoy] Fecha de script: 15/08/2026 21:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================================================
-- 6. VISTAS
-- ==============================================================================

CREATE VIEW [dbo].[vw_ResumenPesajesHoy] AS
SELECT 
    p.[pes_NumTran],
    p.[pes_FechaHoraIn],
    v.[veh_Placa],
    p.[pes_NombreChofer],
    c.[cli_Nombre],
    pr.[pro_Nombre],
    p.[pes_PesoNeto]
FROM [dbo].[Pesajes] p
INNER JOIN [dbo].[Vehiculos] v ON p.[pes_VehPlaca] = v.[veh_Placa]
INNER JOIN [dbo].[Clientes] c ON p.[pes_CliId] = c.[cli_Id]
INNER JOIN [dbo].[Productos] pr ON p.[pes_ProCodigo] = pr.[pro_Codigo]
WHERE CAST(p.[pes_FechaHoraIn] AS DATE) = CAST(GETDATE() AS DATE)
  AND p.[pes_Estado] = 1;
GO
/****** Objeto: Table [dbo].[Auditoria] Fecha de script: 15/08/2026 21:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[aud_Id] [int] IDENTITY(1,1) NOT NULL,
	[aud_TablaAfectada] [varchar](50) NOT NULL,
	[aud_Accion] [varchar](20) NOT NULL,
	[aud_UsuId] [int] NOT NULL,
	[aud_Fecha] [datetime] NULL,
	[aud_Detalle] [nvarchar](max) NULL,
	[aud_Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[aud_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Balanzas] Fecha de script: 15/08/2026 21:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balanzas](
	[bal_Id] [int] IDENTITY(1,1) NOT NULL,
	[bal_Descripcion] [varchar](100) NOT NULL,
	[bal_Ip] [varchar](15) NOT NULL,
	[bal_Puerto] [int] NOT NULL,
	[bal_Ubicacion] [varchar](100) NULL,
	[bal_Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bal_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Configuraciones] Fecha de script: 15/08/2026 21:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuraciones](
	[cnf_Id] [int] IDENTITY(1,1) NOT NULL,
	[cnf_Parametro] [varchar](50) NOT NULL,
	[cnf_Valor] [varchar](200) NOT NULL,
	[cnf_Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cnf_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Informes] Fecha de script: 15/08/2026 21:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informes](
	[inf_Id] [int] IDENTITY(1,1) NOT NULL,
	[inf_Titulo] [varchar](100) NOT NULL,
	[inf_Contenido] [nvarchar](max) NULL,
	[inf_FechaGeneracion] [datetime] NULL,
	[inf_Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[inf_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 15/08/2026 21:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[rol_Id] [int] IDENTITY(1,1) NOT NULL,
	[rol_Nombre] [varchar](50) NOT NULL,
	[rol_Descripcion] [varchar](150) NULL,
	[rol_Estado] [bit] NOT NULL,
	[rol_Modulos] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 15/08/2026 21:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[usu_Id] [int] IDENTITY(1,1) NOT NULL,
	[usu_NombreUsuario] [varchar](50) NOT NULL,
	[usu_NombreCompleto] [varchar](100) NOT NULL,
	[usu_PasswordHash] [nvarchar](max) NOT NULL,
	[usu_Correo] [varchar](100) NULL,
	[usu_Turno] [varchar](20) NULL,
	[usu_RolId] [int] NOT NULL,
	[usu_Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usu_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Balanzas] ON 

INSERT [dbo].[Balanzas] ([bal_Id], [bal_Descripcion], [bal_Ip], [bal_Puerto], [bal_Ubicacion], [bal_Estado]) VALUES (1, N'Balanza A', N'127.0.0.1', 55600, N'Entrada principal', 1)
SET IDENTITY_INSERT [dbo].[Balanzas] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([cli_Id], [cli_Identificacion], [cli_Nombre], [cli_Direccion], [cli_Correo], [cli_Estado], [cli_Tipo]) VALUES (1, N'0102030405', N'Transportes del Norte S.A.', N'Av. Principal 123', N'contacto@transnorte.com', 1, N'Cliente')
INSERT [dbo].[Clientes] ([cli_Id], [cli_Identificacion], [cli_Nombre], [cli_Direccion], [cli_Correo], [cli_Estado], [cli_Tipo]) VALUES (2, N'0607080910', N'Logistica Integral S.A.', N'Calle Secundaria 456', N'info@logint.com', 1, N'Proveedor')
INSERT [dbo].[Clientes] ([cli_Id], [cli_Identificacion], [cli_Nombre], [cli_Direccion], [cli_Correo], [cli_Estado], [cli_Tipo]) VALUES (3, N'9999999999', N'Cliente de Prueba E2E', NULL, NULL, 1, N'Transportista')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Pesajes] ON 

SET IDENTITY_INSERT [dbo].[Pesajes] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([pro_Codigo], [pro_Nombre], [pro_PrecioBase], [pro_PesoPorSaco], [pro_Estado]) VALUES (1, N'Maiz Amarillo', CAST(18.50 AS Decimal(18, 2)), CAST(45.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Productos] ([pro_Codigo], [pro_Nombre], [pro_PrecioBase], [pro_PesoPorSaco], [pro_Estado]) VALUES (2, N'Soya', CAST(22.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Productos] ([pro_Codigo], [pro_Nombre], [pro_PrecioBase], [pro_PesoPorSaco], [pro_Estado]) VALUES (3, N'arroz', CAST(50.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([rol_Id], [rol_Nombre], [rol_Descripcion], [rol_Estado], [rol_Modulos]) VALUES (1, N'Administrador', N'Acceso total al sistema', 1, N'pesajes,tickets,clientes,productos,vehiculos,basculas,usuarios,reportes,configuracion,asistente')
INSERT [dbo].[Roles] ([rol_Id], [rol_Nombre], [rol_Descripcion], [rol_Estado], [rol_Modulos]) VALUES (2, N'Operador', N'Pesaje diario: solo pesajes, tickets y vehiculos', 1, N'pesajes,tickets,vehiculos')
INSERT [dbo].[Roles] ([rol_Id], [rol_Nombre], [rol_Descripcion], [rol_Estado], [rol_Modulos]) VALUES (3, N'asistente de IA', NULL, 1, N'asistente')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([usu_Id], [usu_NombreUsuario], [usu_NombreCompleto], [usu_PasswordHash], [usu_Correo], [usu_Turno], [usu_RolId], [usu_Estado]) VALUES (1, N'admin', N'Administrador del Sistema', N'admin123', N'admin@balanza.com', N'Mañana', 1, 1)
INSERT [dbo].[Usuarios] ([usu_Id], [usu_NombreUsuario], [usu_NombreCompleto], [usu_PasswordHash], [usu_Correo], [usu_Turno], [usu_RolId], [usu_Estado]) VALUES (2, N'operador1', N'Operador de Prueba', N'operador123', NULL, NULL, 2, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
INSERT [dbo].[Vehiculos] ([veh_Placa], [veh_Marca], [veh_CapacidadToneladas], [veh_Estado], [veh_TaraKg], [veh_TaraFecha], [veh_TaraVigenciaDias]) VALUES (N'AAA-1234', NULL, NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[Vehiculos] ([veh_Placa], [veh_Marca], [veh_CapacidadToneladas], [veh_Estado], [veh_TaraKg], [veh_TaraFecha], [veh_TaraVigenciaDias]) VALUES (N'ABC-1234', N'Hino', CAST(30.00 AS Decimal(18, 2)), 1, CAST(9800.25 AS Decimal(18, 2)), CAST(N'2026-07-28T02:04:11.577' AS DateTime), 30)
INSERT [dbo].[Vehiculos] ([veh_Placa], [veh_Marca], [veh_CapacidadToneladas], [veh_Estado], [veh_TaraKg], [veh_TaraFecha], [veh_TaraVigenciaDias]) VALUES (N'BBB-1234', NULL, NULL, 1, CAST(15000.00 AS Decimal(18, 2)), CAST(N'2026-08-16T02:02:05.970' AS DateTime), 30)
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__7D280CDF01E41580] Fecha de script: 15/08/2026 21:21:12 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[usu_NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT (getdate()) FOR [aud_Fecha]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT ((1)) FOR [aud_Estado]
GO
ALTER TABLE [dbo].[Balanzas] ADD  DEFAULT ((1)) FOR [bal_Estado]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [cli_Estado]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ('Cliente') FOR [cli_Tipo]
GO
ALTER TABLE [dbo].[Configuraciones] ADD  DEFAULT ((1)) FOR [cnf_Estado]
GO
ALTER TABLE [dbo].[Informes] ADD  DEFAULT (getdate()) FOR [inf_FechaGeneracion]
GO
ALTER TABLE [dbo].[Informes] ADD  DEFAULT ((1)) FOR [inf_Estado]
GO
ALTER TABLE [dbo].[Pesajes] ADD  DEFAULT ((1)) FOR [pes_Estado]
GO
ALTER TABLE [dbo].[Pesajes] ADD  DEFAULT ('Descarga') FOR [pes_TipoOperacion]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [pro_Estado]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [rol_Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [usu_Estado]
GO
ALTER TABLE [dbo].[Vehiculos] ADD  DEFAULT ((1)) FOR [veh_Estado]
GO
ALTER TABLE [dbo].[Auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_Usuarios] FOREIGN KEY([aud_UsuId])
REFERENCES [dbo].[Usuarios] ([usu_Id])
GO
ALTER TABLE [dbo].[Auditoria] CHECK CONSTRAINT [FK_Auditoria_Usuarios]
GO
ALTER TABLE [dbo].[Pesajes]  WITH CHECK ADD  CONSTRAINT [FK_Pesajes_Balanzas] FOREIGN KEY([pes_BalId])
REFERENCES [dbo].[Balanzas] ([bal_Id])
GO
ALTER TABLE [dbo].[Pesajes] CHECK CONSTRAINT [FK_Pesajes_Balanzas]
GO
ALTER TABLE [dbo].[Pesajes]  WITH CHECK ADD  CONSTRAINT [FK_Pesajes_BalanzaSalida] FOREIGN KEY([pes_BalIdSalida])
REFERENCES [dbo].[Balanzas] ([bal_Id])
GO
ALTER TABLE [dbo].[Pesajes] CHECK CONSTRAINT [FK_Pesajes_BalanzaSalida]
GO
ALTER TABLE [dbo].[Pesajes]  WITH CHECK ADD  CONSTRAINT [FK_Pesajes_Clientes] FOREIGN KEY([pes_CliId])
REFERENCES [dbo].[Clientes] ([cli_Id])
GO
ALTER TABLE [dbo].[Pesajes] CHECK CONSTRAINT [FK_Pesajes_Clientes]
GO
ALTER TABLE [dbo].[Pesajes]  WITH CHECK ADD  CONSTRAINT [FK_Pesajes_Productos] FOREIGN KEY([pes_ProCodigo])
REFERENCES [dbo].[Productos] ([pro_Codigo])
GO
ALTER TABLE [dbo].[Pesajes] CHECK CONSTRAINT [FK_Pesajes_Productos]
GO
ALTER TABLE [dbo].[Pesajes]  WITH CHECK ADD  CONSTRAINT [FK_Pesajes_Proveedor] FOREIGN KEY([pes_ProveedorId])
REFERENCES [dbo].[Clientes] ([cli_Id])
GO
ALTER TABLE [dbo].[Pesajes] CHECK CONSTRAINT [FK_Pesajes_Proveedor]
GO
ALTER TABLE [dbo].[Pesajes]  WITH CHECK ADD  CONSTRAINT [FK_Pesajes_Transportista] FOREIGN KEY([pes_TransportistaId])
REFERENCES [dbo].[Clientes] ([cli_Id])
GO
ALTER TABLE [dbo].[Pesajes] CHECK CONSTRAINT [FK_Pesajes_Transportista]
GO
ALTER TABLE [dbo].[Pesajes]  WITH CHECK ADD  CONSTRAINT [FK_Pesajes_UsuIngreso] FOREIGN KEY([pes_UsuIngId])
REFERENCES [dbo].[Usuarios] ([usu_Id])
GO
ALTER TABLE [dbo].[Pesajes] CHECK CONSTRAINT [FK_Pesajes_UsuIngreso]
GO
ALTER TABLE [dbo].[Pesajes]  WITH CHECK ADD  CONSTRAINT [FK_Pesajes_UsuSalida] FOREIGN KEY([pes_UsuSalId])
REFERENCES [dbo].[Usuarios] ([usu_Id])
GO
ALTER TABLE [dbo].[Pesajes] CHECK CONSTRAINT [FK_Pesajes_UsuSalida]
GO
ALTER TABLE [dbo].[Pesajes]  WITH CHECK ADD  CONSTRAINT [FK_Pesajes_Vehiculos] FOREIGN KEY([pes_VehPlaca])
REFERENCES [dbo].[Vehiculos] ([veh_Placa])
GO
ALTER TABLE [dbo].[Pesajes] CHECK CONSTRAINT [FK_Pesajes_Vehiculos]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([usu_RolId])
REFERENCES [dbo].[Roles] ([rol_Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
USE [master]
GO
